@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
 --primary-color: #fcf6f6;
 --secondary-color: #050E1B;
 --box-color: #050E1B;
 --shadow: black;
 --regular:1rem;
 --big:1.5rem;
 --font2: merriweather;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1 {
  font-size: 2.26rem;
  font-size: clamp(1.4rem, 0.786rem + 1.638vw, 2.26rem);
  letter-spacing: 0.7px; 
}

p {
  font-size: clamp(1rem, 0.875rem + 0.333vw, 1.175rem);
  color: #1D2C38;
}

li {
  font-size: clamp(1rem, 0.9rem + 0.267vw, 1.14rem);  
  color: #1D2C38;  
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 0.5rem + 2.775vw, 2.75rem);
  font-weight: 400;
  background: none;
}

.divider {
    border-top: 3px solid #e1e3e9;
    border-radius: 5px;
    width: 100%;
    margin: 4% 0 4% 0;
  }

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    background: none;
}

.links a:hover {
  transition: 0.6s ease-in-out;
  letter-spacing: 1.3px;
  font-weight: bold;
  text-align: center;    
}
 
/*  HEADER  */
header {
  position: relative;
  z-index: 100;
  width: 100%;
  top: -0.1%;
  background: none;
}
 
/*  NAV BAR  */
.nav-bar {
  width: 100%;
  height: 55px;
  max-width: 80%;
  margin: 1rem  auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
 
.nav-bar  .logo  h1 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
  position: absolute;
  background: none;
}
 
 
.nav-bar .links {
  display: flex;
  gap: 0.5rem;
}
 
.nav-bar .links li {
  width: 5rem;
  text-align: center;
  list-style: none;
}

.nav-bar .links li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.11rem;
  position: absolute;
  background: none;
}

.nav-bar .hamburger {
  font-size: 1.4rem;
  cursor: pointer; 
  display: none;
}

/*  DROP  DOWN MENU  */
.drop-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 12rem;
  height: 0;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transform: height 0.2s;
}

.drop-menu.open {
  height: 10rem;
}

.drop-menu li {
  margin: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

  /*  SECTION 1  */
section {
  margin: 3% 12%;
}

.img img{
  width: 28%;
  margin: 4rem 0 0 2rem;
  border-radius: 5px;
  box-shadow: 10px 7px 20px rgb(165, 162, 162);
}

.s1-wrapper {
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.s1-wrapper .introduction {
  max-width: 56%;
  float: right;
  padding: 4.5rem 0 0 0;
  margin-bottom: 3rem;
}

.introduction h1 {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.introduction .para-1 {
  letter-spacing: 0.4px;
}

.introduction .para-2 {
  letter-spacing: 0.4px;
}

.aboutme-list li  {
  display: list-item;
  margin-left: 1.7rem;
  padding: 0.4rem 0;
}


/*  section 2  */
.languages {
  padding-top: 2rem;
}
.languages > h2 {
  font-size: 1.70rem;
  font-size: clamp(1.4rem, 0.786rem + 1.638vw, 1.70rem)
}
.languages-img {
  padding-top: 1rem;
}
.english {
  max-width: 300px;
  border: #E4E4E4 2px solid;
  border-radius: 7px;
  margin-right: 10%;
}

.japanese {
  max-width: 300px;
  border: #E4E4E4 2px solid;
  border-radius: 7px;
}


.section-2 p, .list {
  max-width: 60%;
}
.section-2 h1 {
  line-height: 2rem;
}
.section-2 p {
  padding: 0.6rem 0;
}
.section-2 ul {
  padding-left: 1.7rem;
}
.section-2 li {
  padding: 0.6rem 0;
}

/*  final section  */
.final-section {
  text-align: center;
}
.final-section h1 {
  font-weight: 400;
}

.final-section h2 {
  font-weight: 600;
}

/*  LAPTOP  */
@media(max-width: 1030px) {
  section {
    margin: 3% 10%;
}

.s1-wrapper .img img{
  width: 36%;
  margin: 6rem 0 0 0;
}

.s1-wrapper .introduction {
    margin: 1rem 0 3rem 0;
}

.introduction h1 {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.introduction .para-1 {
    font-size: 1.001rem;
    letter-spacing: 0.4px;
    margin-bottom: -0.5rem;
}

.introduction .para-2 {
    font-size: 1.001rem;
    letter-spacing: 0.4px;
    margin-bottom: -0.9rem;
}
}

/*  TABLET */
@media(max-width: 770px) {
  section {
    margin: 0 7%;
  } 

  .s1-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .s1-wrapper .img img {
    width: 45%;
    margin: 7rem 0 0 11.5rem;
  }

  .s1-wrapper .introduction {
    float: none;
    margin: 2rem 0 1rem 0;
    padding: 0;
    max-width: 100%;
}

.introduction h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.introduction .para-1 {
    letter-spacing: 0.4px;
}

.introduction .para-2 {
    letter-spacing: 0.4px;
}
.s2-wrapper .section-2 p {
  max-width: 80%;  
}

.s2-wrapper .section-2 .list {
  max-width: 80%;
}

.languages {
  padding-top: 1rem;
  
}
 .languages-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.english {
  margin: 0;
}
.japanese {
  margin: 0
;
}

}

/*  MOBILE DESIGN  */
/*  MOBILE LARGE  */
@media(max-width: 430px) {
  /* MOBILE NAVEGATION BAR */
  .nav-bar .links {
      display: none;
  }
  
  .nav-bar .hamburger {
      display: block;
  }
  
  .drop-menu {
      display: block;
  }

  .nav-bar .logo {
    margin-top: -1.8rem;
  } 

  /*  MOBILE SECTION STYLES  */
  section {
    margin: 0 4%;
  }

  /*  MOBILE SECTION 1 STYLES  */
  .s1-wrapper {
      margin: 0;
  }

  .s1-wrapper .img img {
    width: 80%;
    margin: 4rem 0 1.3rem 2.5rem;
  }

.introduction h1 {
    margin: 0;
    letter-spacing: 1.5px;
}

.introduction .para-1 {
    letter-spacing: 0.4px;
    margin: 0 0 0.5rem 0;
}

.introduction .para-2 {
    letter-spacing: 0.4px;
    margin: 0 0 0.5rem 0;
}
.s2-wrapper .section-2 p {
  max-width: 100%;
}

.s2-wrapper .section-2 .list {
  max-width: 100%;
  padding-left: 1rem;
}

.final-section {
  padding-bottom: 1rem;
}

.languages-img{
  display: block;
  text-align: center;
}

}
/*  MOBILE MEDIUM  */
@media(max-width: 380px) {
  .s1-wrapper .img img {
    width: 90%;
    margin-left: 1.1rem;
  }
  .s1-wrapper .aboutme-list li {
    margin-left: 1rem;
  }
}
/*  MOBILE SMALL  */
@media(max-width: 330px) {
  .s1-wrapper .img img {
    margin-left: 0.9rem;
  }
  .final-section h2 {
    font-size: 1.22rem;
  }
  .final-section h1 {
    font-size: 1.22rem;
  }
}

