@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color:#fcf6f6;
    --box-color: #050E1B;
    --shadow: rgb(183, 181, 181);
}
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #050E1B;
    background-color: var(--primary-color);
}

.divider {
    border: 2px solid rgba(132, 129, 129, 0.3);
  }

h1 {
    font-size: 2.26rem;
    font-size: clamp(1.4rem, 0.786rem + 1.638vw, 2.26rem);
    letter-spacing: 0.7px; 
}

p {
    font-size: clamp(1rem, 0.875rem + 0.333vw, 1.175rem);
    color: #1D2C38;
}

li {
    font-size: clamp(1rem, 0.9rem + 0.267vw, 1.14rem);  
    color: #1D2C38;
}

a {
    text-decoration: none;
    font-size: clamp(1rem, 0.5rem + 2.775vw, 2.75rem);
    font-weight: 400;
    background: none;
}

 
.links a:hover {
    transition: 0.6s ease-in-out;
    letter-spacing: 1.3px;
    font-weight: bold;
    text-align: center;    
}
   
/*  HEADER  */
header {
    position: relative;
    z-index: 100;
    width: 100%;
    top: -0.1%;
    background: none;
}
   
/*  NAV BAR  */
.nav-bar {
    width: 100%;
    height: 55px;
    max-width: 80%;
    margin: 1rem  auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}
   
.nav-bar .logo  h1 {
    font-size: clamp(1.1rem, 0.957rem + 0.381vw, 1.3rem);
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    background: none;
}
   
   
.nav-bar .links {
    display: flex;
    gap: 0.5rem;
}
   
.nav-bar .links li {
    width: 5rem;
    text-align: center;
    list-style: none;
}

.nav-bar .links li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.11rem;
    font-size: clamp(1rem, 0.921rem + 0.21vw, 1.11rem);
    position: absolute;
    background: none;
}
   
.nav-bar .hamburger {
    font-size: 1.4rem;
    cursor: pointer; 
    display: none;
}
   
/*  DROP  DOWN MENU  */
.drop-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 12rem;
    height: 0;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transform: 0.2s;
}
   
.drop-menu.open {
    height: 10rem;
}
   
.drop-menu li {
    margin: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

/*  section  */
section {
    margin: 0 13%;
}

/*  intro img  */
.startimg img {
    width: 100%;
    margin-top: -21%;
}

/*  section1  */
.section1  {
    display: flex;
    justify-content:space-between;
    padding: 4rem 0 4rem 0;
    gap: 5rem;
}

.overview h1 {
    font-size: clamp(1.1rem, 0.457rem + 1.714vw, 2rem);
    font-weight: 700;
}

.small-intro h2 {
    font-size: 1.4rem;
    font-size: clamp(1rem, 0.714rem + 0.762vw, 1.4rem);
    font-weight: 600;
    margin-right: -0.8rem;
    margin-left: 0.8rem;
}

/*  section1 part 2  */
.section1-pt2  {
    display: flex;
    justify-content:space-between;
    padding: 4rem 0 4rem 0;
    gap: 5rem;
}

.problem h1 {
    font-weight: bold;
    letter-spacing: 0.7px;  
}

.problem p {
    font-size: clamp(1rem, 0.879rem + 0.324vw, 1.17rem);
    max-width: 109rem;
}

.solution h1 {
    font-weight: 600; 
}

.solution {
    padding-left: 4rem;
}
.solution p {
    font-size: clamp(1rem, 0.879rem + 0.324vw, 1.17rem);
}

/*  second section (detail wrapper) */
.detail-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.tools-list {
    padding-left: 1.1rem;
}

.roles-list {
    padding-left: 1.1rem;
}

.timeline h1 {
    margin-left: -1.1rem;
}
#design-l {
    max-width: 10rem;
}

/*  design precess  */
.design-process {
    padding: 4rem 0;
}
.design-process > img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(215, 209, 209);
    margin: 2% 0 2% 10%;
    box-shadow: 5px 6px 9px var(--shadow);
}

/*  wireframe  */
.wireframe-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 6rem 0;
    margin: 0 -10% 0 -12%;
    gap: 2rem;
}

.wireframe-text h1 {
    padding: 0 0 2rem 0;
}

.wireframe-video video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 15px 16px 40px var(--shadow);
    cursor:pointer;
}   

/*  ui design */
.uidesign-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 8rem 0;
    margin: 0 -10% 0 -10%;
    gap: 7.5%;  
}

.ui h1 {
    padding-bottom: 2rem;
}
.ui li {
    padding: 2rem 0 0 2px;
    margin-left: 1rem;
}


.uidesign-main-img {
    width: 90%;
    border-radius: 5px;
    box-shadow: 15px 16px 40px var(--shadow);
}

.ui-images {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem 7rem;
    margin-left: -16.5%;
    padding: 1rem 0 7rem 0;
}  

.ui-images img {
    width: 110%;
    border-radius: 5px;
    box-shadow: 15px 16px 40px var(--shadow);
}
/* before and after */
.dbl_v-main {
   padding: 5rem 0;
}

.dbl_v-main > h1 {
    padding-bottom: 1rem;
}
.bef-text {
    text-align: center;
    padding-bottom: 3.5rem;
}
.dbl_video > video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 15px 16px 40px var(--shadow);
}

/*  thanks  */
.thanks {
    padding: 4rem 0;
}

.thanks h1 {
    padding-bottom: 2rem;
}

/*  footer  */
.footer {
    position: relative;
    height: 5rem;
    background-color: #050E1B;
}

.footer h1 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    background: none;
    padding-top: 1.5rem;
}

/*  LAPTOP  */
@media(max-width: 1030px) {
    .logo {
        margin-top: -0.3rem;
    }
    .nav-bar .logo h1 {
       font-size: 1.12rem;
    }
    .section1 {
        gap: 2rem;
    }
    .small-intro h2 {
        margin-left: 3rem;
        margin-right: -2rem;
    }
    .section1-pt2 {
        gap: 2rem;
    }
    .wireframe-wrapper {
        margin: 0 -10% 0 -15%;
    }
    .ui-images {
        gap: 4rem;
        margin-left: -14.5%;
        margin-top: -3rem;
        padding: 0 0 6rem 0;
    }
    .ui-images img {
        width: 110%;
    }

}

/*  TABLET  */
@media(max-width: 770px) {
    .section1 {
        display: block;
    }
    .overview h1 {
        text-align: center;
        padding-bottom: 2rem;
    }
    .small-intro h2 {
        text-align: center;
        margin-left: 0;
    }
    .section1-pt2 {
        display: block;
    }
    .problem {
        padding-bottom: 2rem;
    }
    .solution {
        padding: 0;
    }
    #design-l {
        max-width: 9rem;
    }
    .design-process {
        margin: 0 -4rem;
    }
    .wireframe-wrapper {
        display: block;
    }
    .wireframe-text h1 {
        padding-bottom: 0.6rem;
    }
    .wireframe-text {
        padding-bottom: 2.5rem;
    }
    .wireframe-video video {
        margin-left: 0.8rem;
    }
    .uidesign-wrapper {
        display: block;
        padding-top: 3rem;
    }
    .ui {
        padding-bottom: 3rem;
    }
    .ui h1 {
        padding-bottom: 0.4rem;
    }
    .uidesign-main-img {
        margin-left: 2.2rem;
    }
    .ui-images {
        display: block;
        margin: -5rem -2rem 0 -2rem;
        padding: 0;
    }
    .ui-images img {
        width: 100%;
        margin-bottom: 3rem;
    }
    .thanks h1 {
        padding-bottom: 0.2rem;
    }
    .footer h1 {
        font-size: 0.8rem;
    }
}

/*  MOBILE DESIGN  */
/*  MOBILE LARGE  */
@media(max-width: 430px) {
    /* DO NOT TOUCH */
    .nav-bar .links {
        display: none;
    }
    .nav-bar .hamburger {
        display: block;
    }
    .drop-menu {
        display: block;
    }
    /* DO NOT TOUCH */
    .nav-bar {
        height: 45px;
        margin: 0  auto;
    }
    .nav-bar .logo h1 {
        color: #050E1B;
        margin-top: -0.7rem;
    }
    .startimg img {
        margin-top: 0.1rem;
    }
    
    section {
        margin: 0 5%;
    }
    .section1 {
        padding: 2.5rem 0;
    }

    .section1-pt2 {
        padding: 2rem 0;
    }
    .small-intro h2 {
        margin: 0;
    }
    .solution {
        padding-left: 0;
    }
    .detail-wrapper {
        display: block;
        padding-left: 1rem;
        padding: 2rem 0 2rem 1rem;
    }
    .tools {
       padding-bottom: 1rem;
    }
    .role {
        padding-bottom: 1rem;
     }
     .timeline h1 {
        margin: 0;
     }
     .timeline .time-details {
        padding-left: 1rem;
     }
     #design-l {
        max-width: 100%;
     }
    .design-process {
        margin: 0 ;
        padding: 2rem 0;
    }
    .design-process img {
        width: 100%;
        margin-left: 0;
    }
    .wireframe-wrapper {
        margin: 0;
    }
    .wireframe-text {
        margin-top: -4rem;
    }
    .wireframe-video video  {
        margin: 0 0 -3rem 0;
        width: 100%;
    }
    .uidesign-wrapper {
        margin: 0;
    }
    .uidesign-main-img {
        width: 100%;
        margin: 0 0 -5rem 0;
    }
    .ui-images {
        margin: 0;

    }

}